
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2" *ngIf="!isMobileView()">
						<div class="companyinfo">
							<h2><label><span>{{orgName1}}</span></label>-<label style="color: green;">{{orgName2}}</label></h2>
							<p>{{tenantStore.tenantTagLine}}</p>
						</div>
          </div>
          <!-- render for display greater than ~700px -->
          <div class="col-sm-6" *ngIf="!isMobileView()"></div>
          <div class="col-sm-1" *ngIf="!isMobileView()">
            <img src={{tenantStore.tenantLogo}} alt="" style="height: auto;
              width: 100px; padding-top: 25px;"/>
          </div>
					<div class="col-sm-3" style="float: right; padding-top: 50px;" *ngIf="!isMobileView()">
              <p>{{tenantStore.tenantContact}}<br/> {{tenantStore.tenantStreet}} <br/> {{tenantStore.tenantCity}} - {{tenantStore.tenantPin}}</p>
					</div>
          <!-- render for mobile view -->
          <div class="col-xs-2" *ngIf="isMobileView()">
            <img src={{tenantStore.tenantLogo}} alt="" style="height: auto;
              width: 100px; padding-top: 25px;"/>
          </div>
          <div class="col-xs-5"></div>
          <div class="col-xs-5" *ngIf="isMobileView()" style="padding-top: 50px; float: right;">
            <p>{{tenantStore.tenantStreet}} <br/> {{tenantStore.tenantCity}}</p>
          </div>
          <!-- <div class="col-sm-1" *ngIf="isMobileView()">
						<p>{{tenantStore.tenantContact}}</p>
					</div>
          <div class="col-sm-2" *ngIf="isMobileView()">
						<p>{{tenantStore.tenantStreet}} <br/> {{tenantStore.tenantCity}} - {{tenantStore.tenantPin}}</p>
					</div> -->
				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">

          <div class="col-sm-2" *ngIf="tenantStore.tenantFssai !== undefined &&
                                        tenantStore.tenantFssai !== null && tenantStore.tenantFssai !== ''">
						<div class="single-widget">
							<ul class="nav nav-pills nav-stacked">
								<li><label>FSSAI : </label> {{tenantStore.tenantFssai}} </li>
							</ul>
						</div>
          </div>
          <div class="col-sm-2" *ngIf="tenantStore.tenantGstIn !== undefined &&
                                        tenantStore.tenantGstIn !== null && tenantStore.tenantGstIn !== ''">
						<div class="single-widget">
							<ul class="nav nav-pills nav-stacked">
                <li><label>GSTIN : </label> {{tenantStore.tenantGstIn}} </li>
							</ul>
            </div>
          </div>
          <div class="col-sm-2">
						<div class="single-widget">
							<ul class="nav nav-pills nav-stacked">
                <li><label><a class="btn1 draw-border cent" href="https://play.google.com/store/apps/details?id=com.ria.clientui" data-animation="fadeInUp" data-delay="1.5s">
                  Download Android App From Play Store</a></label></li>
							</ul>
            </div>
          </div>
          <div class="col-sm-2">
						<div class="single-widget">
							<ul class="nav nav-pills nav-stacked">
								<li><label style="cursor: pointer;" (click)="openPrivacyPolicy()">Privacy-Policy</label> </li>
							</ul>
						</div>
          </div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-right">Designed by <span><a target="_blank" href="https://www.linkedin.com/in/muhilkennedy">Muhil Kennedy</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->
