<section id="homepage">
  <div class="page-header section-dark" style="background-image: url('assets/img/home/Home_BG.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">GO NUTS</h1>
                <button class="btn draw-border"> Shop Now </button>
            </div>
        </div>
    </div>
    <h2 class="presentation-subtitle text-center category-absolute">Eat the best, Leave the rest</h2>
  </div>
</section>
