<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="HOME_LOG" value="logs/AppLogs.log"/>
	
	<!-- Console level logging -->
 	<appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
      </encoder>
   </appender>
   <logger name="com.backend" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.flywaydb" level="debug">
    	<appender-ref ref="STDOUT"/>
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
   
   <!-- File logging  -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            each archived file, size max 10MB
            <maxFileSize>10MB</maxFileSize>
            total size of all archive files, if total size > 10MB, 
				it will delete old archived file
            <totalSizeCap>500MB</totalSizeCap>
            180 days to keep
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.backend" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    <logger name="org.flywaydb" level="debug">
    	<appender-ref ref="FILE-ROLLING"/>
    </logger>
    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
    
</configuration>