<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-money"></i>Point Of Sale (POS) - Billing
          <!--remove later-->
          <!-- <strong>Status: {{status}}</strong> -->
          <div class="float-right">
              <!-- <button (click)="requestUsb()">Connect to USB</button> -->
          </div>
          <!-- <div class="float-right">
              <button (click)="print()" [disabled]="status === false"> Print!</button>
          </div> -->
        </div>
        <div class="card-body">
          <input type="number" class="form-control" matInput placeholder="Customer Mobile" id="customernumber" name="customernumber" [(ngModel)]="customerMobile" (keyup)="getCustomerDetails($event)">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <label>Customer Name : </label><strong> {{customerName | uppercase}}</strong>
            <br/>
            <label>Customer Email : </label><small> {{customerEmail}}</small>
            <br/>
            <label>Loyalty Points : </label><strong> {{customerLoyality}}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <!-- <barcode-scanner-livestream
            type="code_128"
            (valueChanges)="onValueChanges($event)"
            (started)="(onStarted($event))"
          ></barcode-scanner-livestream>
          <div [hidden]="!barcodeValue">
            {{ barcodeValue }}
          </div> -->
          <div *ngIf="!newCustomer" class="blink"><label> </label></div><!-- just some space filler-->
          <div *ngIf="newCustomer" class="blink"><small><strong><i class="fa fa-user"></i> New Customer</strong></small></div>
          <label>Total : </label><strong> {{calculateRoundedSubtotal()}} ₹</strong>
          <br/>
          <button mat-button class="btn btn-warning" (click)="clearData()">Clear</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="card-body">
          <mat-hint>Clear-<b>Shift+Del</b> | AddEntry-<b>Shift+Enter</b> | Loyality Points-<b>1₹ for every 200₹ spent</b></mat-hint>
          <alert class="p-4 text-center"></alert>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>SL.NO</th>
                <th>Item Code</th>
                <th style="width: 200px;">Item Name</th>
                <th>MRP(₹)</th>
                <th>PRICE(₹)</th>
                <th>QUANTITY</th>
                <th>DISCOUNT(%)</th>
                <th>TOTAL(₹)</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="background: white;">
              <tr *ngFor="let item of itemList; let i = index">
                <td>{{i+1}}</td>
                <td *ngIf="!(item.itemCode === null || item.itemCode === undefined)"><input type="text" class="form-control" matInput placeholder="Product Code" id="pcode-{{i}}" name="pcode-{{i}}" [(ngModel)]="item.itemCode"></td>
                <td *ngIf="(item.itemCode === null || item.itemCode === undefined)"><input autofocus type="text" class="form-control" matInput placeholder="Product BAR Code" id="pbcode-{{i}}" name="pbcode-{{i}}" [(ngModel)]="itemBarCode" (change)="codeDetected()"></td>
                <td *ngIf="(item.itemCode === null || item.itemCode === undefined)">
                    <input type="text"
                           class="form-control" matInput placeholder="Product Name"
                           id="pname-{{i}}" name="pname-{{i}}"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto"
                           [(ngModel)]="item.itemName"
                           (keyup)="getProducts($event)">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                      <mat-option (onSelectionChange)="convertToProductItem(option)" *ngFor="let option of filteredOptions | async" >
                        {{option.productName}}
                      </mat-option>
                    </mat-autocomplete>
                </td>
                <td *ngIf="!(item.itemCode === null || item.itemCode === undefined)"><input type="text" class="form-control" matInput placeholder="Product Name" id="pname-{{i}}" name="pname-{{i}}" [(ngModel)]="item.itemName"></td>
                <td><input type="number" class="form-control" style="width: 75%;" matInput placeholder="MRP" id="mrp-{{i}}" name="mrp-{{i}}" [(ngModel)]="item.mrp" min="0"></td>
                <td><input type="number" class="form-control" style="width: 75%;" matInput placeholder="MRP" id="mrp-{{i}}" name="mrp-{{i}}" [(ngModel)]="item.sellingCost" min="0"></td>
                <td><input type="number" class="form-control" style="width: 75%;" matInput placeholder="Quantity" id="q-{{i}}" name="q-{{i}}" [(ngModel)]="item.quantity" min="0"></td>
                <td><input disabled type="number" class="form-control" style="width: 50%;" matInput placeholder="Offer" id="dis-{{i}}" name="dis-{{i}}" [(ngModel)]="item.discount" min="0"></td>
                <td>{{calculateTotal(item) | number:'1.2-2'}}</td>
                <td>
                  <i *ngIf="(itemList.length === i+1)" class="addicon fa fa-plus-circle" (click)="addItem()"></i>
                  <i class="removeicon fa fa-minus-circle" (click)="removeItem(i)"></i>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><small>Total Discount : </small></td>
                <td>{{calculateTotalDiscount() | number:'1.2-2'}}</td>
                <td>SUB-TOTAL : </td>
                <td><strong>{{calcaulateSubTotal() | number:'1.2-2'}}</strong></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><small>Items Quantity : </small></td>
                <td><small>{{calculateTotalQuantity()}}</small></td>
                <td>Rounding Off : </td>
                <td><strong>{{calculateRoundedSubtotal()}} ₹</strong></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <input *ngIf="paymentMode==='cash'" type="number" class="form-control" style="width: 75%;" matInput placeholder="AmountPaid" id="amountPaid" name="amountPaid" [(ngModel)]="amountPaid">
                </td>
                <td>
                  <div *ngIf="paymentMode==='cash'">
                    <label>Balance = </label><strong>{{calculateBalance()}} ₹</strong>
                  </div>
                </td>
                <td>
                  <mat-form-field style="width: 100px;">
                    <mat-label>Payment Mode</mat-label>
                    <mat-select [(value)]="paymentMode">
                      <mat-option [value]="option" *ngFor="let option of paymentTypes">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td><button [disabled]="disablePaid()" class="btn btn-success" (click)="processBill()"> <i class="fa fa-dollar"></i> PAID </button></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- confirm print dialog -->
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm PDF Generation</h4>
      </div>
      <div class="modal-body">
        <p style="color: green;">SAVE TREES BY USING E-BILL</p>
        <h3>Do you want to Print POS Bill ?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <button type="button" class="btn btn-warning" (click)="printAsPdf()">
          <i class="fa fa-print"></i> Print As Online Bill
        </button>
        <button type="button" class="btn btn-warning" (click)="getPDF()">
          <i class="fa fa-print"></i> Print
        </button>
      </div>
    </div>
  </div>
</div>
