.removeicon{
  color: crimson;
  cursor: pointer;
  transition: transform .2s;
}

.removeicon:hover  {
  transform: scale(1.5);
}

.addicon{
  color: green;
  cursor: pointer;
  transition: transform .2s;
}

.addicon:hover  {
  transform: scale(1.5);
}

.blink {
  color: yellowgreen;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
