<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-money"></i>Point Of Sale (POS) - Billing
          <!--remove later-->
          <!-- <strong>Status: {{status}}</strong> -->
          <div class="float-right">
              <button (click)="requestUsb()">Connect to USB</button>
          </div>
          <!-- <div class="float-right">
              <button (click)="print()" [disabled]="status === false"> Print!</button>
          </div> -->
        </div>
        <div class="card-body">
          <input type="number" class="form-control" matInput placeholder="Customer Mobile" id="customernumber" name="customernumber" [(ngModel)]="customerMobile">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <label>Customer Name : </label>
            <br/>
            <label>Customer Email : </label>
            <br/>
            <label>Loyalty Points : </label>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <barcode-scanner-livestream
            type="code_128"
            (valueChanges)="onValueChanges($event)"
            (started)="(onStarted($event))"
          ></barcode-scanner-livestream>
          <div [hidden]="!barcodeValue">
            {{ barcodeValue }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="card-body">
          <alert class="p-4 text-center"></alert>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>SL.NO</th>
                <th>Item Name</th>
                <th>Item Code</th>
                <th>MRP</th>
                <th>QUANTITY</th>
                <th>DISCONT</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody style="background: white;">
              <tr *ngFor="let item of itemList; let i = index">
                <td>{{i+1}}</td>
                <td *ngIf="(item.itemCode === null || item.itemCode === undefined)">
                    <input type="text"
                           class="form-control" matInput placeholder="Product Name"
                           id="pname-{{i}}" name="pname-{{i}}"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto"
                           [(ngModel)]="item.itemName"
                           (keyup)="getProducts($event)">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                      <mat-option (onSelectionChange)="convertToProductItem(option)" *ngFor="let option of filteredOptions | async" >
                        {{option.productName}}
                      </mat-option>
                    </mat-autocomplete>
                </td>
                <td *ngIf="!(item.itemCode === null || item.itemCode === undefined)"><input type="text" class="form-control" matInput placeholder="Product Name" id="pname-{{i}}" name="pname-{{i}}" [(ngModel)]="item.itemName"></td>
                <td><input type="text" class="form-control" matInput placeholder="Product Code" id="pcode-{{i}}" name="pcode-{{i}}" [(ngModel)]="item.itemCode"></td>
                <td><input type="number" class="form-control" style="width: 75%;" matInput placeholder="MRP" id="mrp-{{i}}" name="mrp-{{i}}" [(ngModel)]="item.mrp"></td>
                <td><input type="number" class="form-control" style="width: 75%;" matInput placeholder="Quantity" id="q-{{i}}" name="q-{{i}}" [(ngModel)]="item.quantity"></td>
                <td><input type="number" class="form-control" style="width: 50%;" matInput placeholder="Discount" id="dis-{{i}}" name="dis-{{i}}" [(ngModel)]="item.discount"></td>
                <td>{{calculateTotal(item) | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><small>Total Discount : </small></td>
                <td>{{totalDiscount}}</td>
                <td>SUB-TOTAL : </td>
                <td><strong>{{calcaulateSubTotal() | number:'1.2-2'}}</strong></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><small>Items Quantity : </small></td>
                <td><small>{{itemList.length}}</small></td>
                <td>Rounding Off : </td>
                <td><strong>{{calculateRoundedSubtotal()}} ₹</strong></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <mat-form-field>
                    <mat-label>Payment Mode</mat-label>
                    <mat-select [(value)]="paymentMode">
                      <mat-option [value]="option" *ngFor="let option of paymentTypes">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td><button [disabled]="disablePayment" class="btn btn-success" (click)="processBill()"> <i class="fa fa-dollar"></i> PAID </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
