<ng-template tabHeading><!--<i class="icon-speech"></i> -->
  <a class="notification">
    <i class="fa fa-comments-o"></i>
    <!-- <span class="badge">{{chatCount}}</span> -->
    <!-- <span *ngIf="unreadMessage" class="avatar-status badge-dark"></span> -->
  </a>
</ng-template>
<div class="p-3">
  <h6>User Information</h6>
  <div class="aside-options">
    <div class="clearfix mt-4">
      <small><b>Welcome {{userStore.firstName}} !</b></small>
    </div>
    <div>
      <small class="text-muted">ID : <b>{{userStore.userId}}</b></small>
    </div>
    <div>
      <small class="text-muted">{{userStore.designation}}</small>
    </div>
</div>

<hr/>

<h6>Chat Window</h6>
<!-- <div class="aside-options">
  <div id="main-content" class="container">
    <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
    <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
    </button>
    <label for="name">What is your name?</label>
    <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
    <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
  </div>
</div> -->

<button (click)="scan()">scan</button>
<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <p>User Information: (if user id(toId) is null the message will be sended to all users) </p>
  <div style="margin-bottom: 20px;">
    <input type="text" formControlName="fromId" name="fromId" placeholder="Your id">
    <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="open socket to recieve custom messages">
  </div>
  <input type="text" formControlName="toId" name="toId" placeholder="User id to send the message to">
</form>
<form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Message: </p>
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" value="Send using socket subscription">
  <input type="button"  value="Send using a rest controller" (click)="sendMessageUsingRest()">
</form>
<ul>
  <li *ngFor="let message of messages">From: {{message.fromId}}, To: {{message.toId}}, Message: {{message.message}}</li>
</ul>
