<ng-template tabHeading><!--<i class="icon-speech"></i> -->
  <a class="notification">
    <i class="fa fa-comments-o"></i>
    <!-- <span class="badge">{{chatCount}}</span> -->
    <!-- <span *ngIf="unreadMessage" class="avatar-status badge-dark"></span> -->
  </a>
</ng-template>
<div class="p-3">
  <h6>Chat Window</h6>
</div>

<!-- <div class="aside-options">
  <div id="main-content" class="container">
    <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
    <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
    </button>
    <label for="name">What is your name?</label>
    <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
    <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
  </div>
</div> -->

<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <input type="text" formControlName="toId" name="toId" placeholder="User id to send the message to">
</form>
<!-- <form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Message: </p>
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" value="Send using socket subscription">
  <input type="button"  value="Send using a rest controller" (click)="sendMessageUsingRest()">
</form>
<ul>
  <li *ngFor="let message of messages">From: {{message.fromId}}, To: {{message.toId}}, Message: {{message.message}}</li>
</ul> -->

<hr/>

<!-- <div class="mesgs"> -->
  <!-- <div class="msg_history"> -->
    <li class="message" *ngFor="let message of messages">
      <div
        *ngIf="
          message.fromId !== getCurrentUserIdWithTenant();
          then incoming_msg;
          else outgoing_msg
        "
      ></div>
      <ng-template #incoming_msg>
        <div class="incoming_msg">
          <div class="incoming_msg_img">
            <img
              src="https://i.imgur.com/k2PZLZa.png"
              alt="User avatar"
            />
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{ message.message }}</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{ message.message }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  <!-- </div> -->
  <div class="type_msg">
    <form class="input_msg_write" (ngSubmit)="sendMessageUsingSocket()">
      <input
        type="text"
        class="write_msg"
        placeholder="Type a message"
        name="newMessage"
        [(ngModel)]="newMessage"
      />
      <button class="msg_send_btn" type="button" (click)="sendMessageUsingSocket()">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
    </form>
  </div>
<!-- </div> -->
