.tenantlogo{
  height: 50px;
  width: auto;
}

.notification {
  background-color: transparent;
  // color: cornflowerblue;
  text-decoration: none;
  // padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 5px;
  border-radius: 50%;
  background: #ff9300;
  color: white;
}

.toolbaricon{
  color: green;
  cursor: pointer;
  transition: transform .2s;
}

.toolbaricon:hover  {
  transform: scale(1.5);
}
