<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-line-chart"></i>SALES REPORT
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="callout callout-primary">
                  <small class="text-muted">Point Of Sale</small>
                  <br>
                  <strong class="h4">{{totalPOSCount}}</strong>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="callout callout-success">
                  <small class="text-muted">Online Orders</small>
                  <br>
                  <strong class="h4">{{totoalOrdersCount}}</strong>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <hr class="mt-0">
            <div class="chart-wrapper">
              <canvas baseChart class="chart"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="pieChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>

          </div><!--/.col-->
          <div class="col-sm-3">
              <div class="">
                <div class="brand-card">
                  <div class="brand-card-header bg-xing">
                    <i class="fa fa-comments"></i>
                    <div class="chart-wrapper">
                      <canvas baseChart class="chart"
                      [datasets]="brandBoxChartData2"
                      [labels]="brandBoxChartLabels"
                      [options]="brandBoxChartOptions"
                      [colors]="brandBoxChartColours"
                      [legend]="brandBoxChartLegend"
                      [chartType]="brandBoxChartType"></canvas>
                    </div>
                  </div>
                  <div class="brand-card-body">
                    <div>
                      <div class="text-value">{{totalMessageCount}}</div>
                      <div class="text-uppercase text-muted small">SMS Sent</div>
                    </div>
                    <div>
                      <div class="text-value">{{msgSentToday}}</div>
                      <div class="text-uppercase text-muted small">SMS Sent Today</div>
                    </div>
                  </div>
              </div><!--/.col-->
            </div>
          </div><!--/.col-->
          <div class="col-sm-3">
            <div class="">
              <div class="brand-card">
                <div class="brand-card-header bg-google-plus">
                  <i class="fa fa-google-plus"></i>
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [datasets]="brandBoxChartData1"
                    [labels]="brandBoxChartLabels"
                    [options]="brandBoxChartOptions"
                    [colors]="brandBoxChartColours"
                    [legend]="brandBoxChartLegend"
                    [chartType]="brandBoxChartType"></canvas>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{totalGmailCount}}</div>
                    <div class="text-uppercase text-muted small">EMAIL Sent</div>
                  </div>
                  <div>
                    <div class="text-value">{{mailSentToday}}</div>
                    <div class="text-uppercase text-muted small">Email Sent Today</div>
                  </div>
                </div>
            </div><!--/.col-->
          </div>
        </div><!--/.row-->
        <br>

      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->
