.producticon{
  color: green;
  cursor: pointer;
  transition: transform .2s;
}

.producticon:hover  {
  transform: scale(1.5);
}

.button1{
  outline: 0px !important;
}
.button1:focus{
  outline: 0px transparent !important;
  outline: transparent auto 0px !important;
}

.filterbar{
  margin-bottom: -1.5rem;
  margin-top: -1rem;
}

.table th, .table td {
  border-top: 0px !important;
}

.alink {
  color: brown;
  cursor: pointer;
}

.printicon{
  color: chocolate;
  cursor: pointer;
  transition: transform .2s;
}

.printicon:hover  {
  transform: scale(1.5);
}
