.social-container {
  margin: 20px 0;
  cursor: pointer;
}

.headertext{
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

.rememberme{
  display: inherit !important;
  margin-top: -1px;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.vertical {
  height: 40px;
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
  left: 50%;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
