<app-searchbar *ngIf="isMobileView()"></app-searchbar>
<div style="position: relative;">
<section>
  <div class="container">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2 (click)="isCatCollapsed = !isCatCollapsed">Category
            <i *ngIf="!isCatCollapsed" class="fa fa-toggle-up toggleIcon" ></i>
            <i *ngIf="isCatCollapsed" class="fa fa-toggle-down toggleIcon" ></i>
          </h2>
          <div *ngIf="!isCatCollapsed" style="display: contents !important;">
          <div class="panel-group category-products" id="accordian"><!--category-products-->
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <a style="cursor: pointer;" (click)="getProducts(node.catId)">{{node.catName}}</a>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <a style="cursor: pointer;" (click)="getProducts(node.catId)">{{node.catName}}</a>
              </mat-tree-node>
            </mat-tree>

          </div><!--/category-productsr-->
          </div>
          <!--brands_products-->
          <!-- <div class="brands_products">
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
              </ul>
            </div>
          </div> -->

          <!-- FILTERS -->
          <div class="price-range" *ngIf="!isMobileView()">
            <h2>Filters
            <!-- <i *ngIf="!isFilterCollapsed" class="fa fa-toggle-up toggleIcon" (click)="isFilterCollapsed = !isFilterCollapsed"></i>
            <i *ngIf="isFilterCollapsed" class="fa fa-toggle-down toggleIcon" (click)="isFilterCollapsed = !isFilterCollapsed"></i> -->
            </h2>
            <div [collapse]="isFilterCollapsed">
            <div class="well" style="width: 100%;">
              <mat-form-field class="matitem" style="width: 200px;">
                <input type="text"
                       placeholder="Search Product"
                       matInput
                       [formControl]="myControl"
                       [(ngModel)]="productSearched">
                <!--<input type="text"
                       placeholder="Search Product"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       [(ngModel)]="productSearched"
                       (keyup)="getProductsForSearch($event)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                  <mat-option (onSelectionChange)="selectProduct(option)" *ngFor="let option of filteredOptions | async" [value]="option.productId">
                    {{option.productName}}
                  </mat-option>
                </mat-autocomplete> -->
                <button matSuffix type="button" class="btn btn-primary" (click)="searchAction()"><i class="fa fa-search"></i></button>
              </mat-form-field>
              <table>
                <tr>
                  <td style="padding-top: 20px;">
                    <label>Sort By Cost : </label>
                  </td>
                  <td>
                    <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('sellingCost', 'asc')"><i class="fa fa-sort-amount-asc"></i></button>
                  </td>
                  <td>
                    <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('sellingCost', 'desc')"><i class="fa fa-sort-amount-desc"></i></button>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 20px;">
                    <label>Sort By Offer : </label>
                  </td>
                  <td>
                    <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('offer', 'asc')"><i class="fa fa-sort-amount-asc"></i></button>
                  </td>
                  <td>
                    <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('offer', 'desc')"><i class="fa fa-sort-amount-desc"></i></button>
                  </td>
                </tr>
              </table>
            </div>
            </div>
          </div>
          <div *ngIf="isMobileView()">
            <table>
              <tr>
                <td style="padding-top: 20px;">
                  <label>Sort By Cost:</label>
                </td>
                <td>
                  <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('sellingCost', 'asc')"><i class="fa fa-sort-amount-asc"></i></button>
                </td>
                <td>
                  <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('sellingCost', 'desc')"><i class="fa fa-sort-amount-desc"></i></button>
                </td>
                <td style="padding-top: 20px;">
                  <label> By Offer:</label>
                </td>
                <td>
                  <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('offer', 'asc')"><i class="fa fa-sort-amount-asc"></i></button>
                </td>
                <td>
                  <button matSuffix type="button" class="btn btn-primary btnStyle" (click)="sortBy('offer', 'desc')"><i class="fa fa-sort-amount-desc"></i></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- PRODUCTS  -->
      <div class="col-sm-9 padding-right" *ngIf="!isMobileView()">
        <div class="features_items">
          <ngx-loading [show]="productLoading"></ngx-loading>
          <h2 class="title text-center">PRODUCTS</h2>
          <div class="col-sm-4" *ngFor="let prod of products">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <span class="offer-overlay" *ngIf="prod.productContent.offer !== undefined && prod.productContent.offer > 0">
                    {{prod.productContent.offer}}% Off
                  </span>
                  <img (click)="viewDetailPage(prod)" style="object-fit: cover; cursor: pointer;" width="250px" height="300px" src={{getProductImage(prod)}} alt="product Image" />
                  <h3>{{prod.productContent.productName}}</h3>
                  <p>{{prod.productContent.brandName}}</p>
                  <span *ngIf="prod.productContent.offer !== undefined && prod.productContent.offer > 0" style="text-decoration: line-through;">₹ {{prod.productContent.cost}} </span>
                  <span class="regular-price"> ₹{{prod.productContent.sellingCost}}</span>
                  <br/>
                  <br/>
                  <a *ngIf="prod.productContent.quantityInStock > 0" (click)="addToCart(prod.productContent)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                  <a *ngIf="prod.productContent.quantityInStock <= 0" disabled class="btn btn-default add-to-cart"><i class="fa fa-frown-o"></i>Out of Stock</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile view -->
      <div class="col-sm-9 padding-right" *ngIf="isMobileView()">
        <div class="features_items">
          <ngx-loading [show]="productLoading"></ngx-loading>
          <h2 class="title text-center">PRODUCTS</h2>
          <div class="col-xs-6" *ngFor="let prod of products">
            <div class="product-image-wrapper" style="height: 450px;">
              <div class="single-products">
                <div class="productinfo text-center">
                  <span class="offer-overlay" *ngIf="prod.productContent.offer !== undefined && prod.productContent.offer > 0">
                    {{prod.productContent.offer}}% Off
                  </span>
                  <img (click)="viewDetailPage(prod)" style="object-fit: cover;" width="150px" height="200px" src={{getProductImage(prod)}} alt="product Image" />
                  <h3>{{prod.productContent.productName}}</h3>
                  <p>{{prod.productContent.brandName}}</p>
                  <span *ngIf="prod.productContent.offer !== undefined && prod.productContent.offer > 0" style="text-decoration: line-through;">₹ {{prod.productContent.cost}} </span>
                  <span class="regular-price"> ₹{{prod.productContent.sellingCost}}</span>
                  <br/>
                  <br/>
                  <a *ngIf="prod.productContent.quantityInStock > 0" (click)="addToCart(prod.productContent)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                  <a *ngIf="prod.productContent.quantityInStock <= 0" disabled class="btn btn-default add-to-cart"><i class="fa fa-frown-o"></i>Out of Stock</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
        </div>
      </div>
      <div class="col-sm-9">
      <mat-paginator [length]="productCount"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="action($event)"
                     #paginator>
      </mat-paginator>
      </div>
    </div>
  </div>
</section>
</div>
