.prodwrapper{
  border: 1px solid antiquewhite !important;
}

.offer-overlay {
  background: #654ea3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
}

.btnStyle{
  width: inherit;
}

.categorySeleted{
  color: brown;
}

.categoryPlain{
  color: black;
}
