<section>
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-3">
        <div class="left-sidebar">
          category componet
        </div>
      </div> -->

      <div class="col-sm-13 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img *ngIf="isMobileView()" style="object-fit: contain; height: 250px"  src={{getProductImage()}} alt="" />
              <img *ngIf="!isMobileView()" style="object-fit: contain;"  src={{getProductImage()}} alt="" />
              <!-- <h3>ZOOM</h3> -->
            </div>
            <!--
            <div id="similar-product" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                  <div class="item active">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                </div>

                <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
            </div-->

          </div>
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <h2>{{product.productContent.productName}}</h2>
              <p>Product ID: {{product.productContent.productId}}</p>
              <!-- product rating stars -->
              <!-- <span> -->
                <span *ngIf="product.productContent.sellingCost !== product.productContent.cost" style="text-decoration: line-through;">₹ {{product.productContent.cost}} </span>
                <span class="regular-price"> ₹{{product.productContent.sellingCost}}</span>
              <!-- </span> -->
              <p><b>Quantity : </b>
                <input style="width: 35px;" type="number" name="quan" [(ngModel)]="quantity"/>
                <button *ngIf="product.productContent.quantityInStock > 0" type="button" class="btn btn-fefault cart" (click)="addToCart()">
                  <i class="fa fa-shopping-cart"></i>
                  Add to cart
                </button>
              </p>
              <p><b>Availability : </b>
                <label *ngIf="product.productContent.quantityInStock > 0"> In Stock</label>
                <label *ngIf="product.productContent.quantityInStock <= 0"> Out Of Stock</label>
              </p>
              <p><b>Brand:</b> {{product.productContent.brandName}}</p>
              <p *ngIf="product.productContent.productDescription != null && product.productContent.productDescription != ''">
                <b>Description:</b> {{product.productContent.productDescription}}</p>
              <ngb-rating [(rate)]="currentRate" [max]="5" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->

        <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->

        <!--review-tab-->
        <div class="category-tab shop-details-tab">
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#reviews" data-toggle="tab">Reviews ({{reviews.length}})</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="tab-pane fade active in" id="reviews" >
              <div class="col-sm-12">
                <!-- <ul>
                  <li><a href=""><i class="fa fa-user"></i>Username</a></li>
                </ul> -->
                <p>review content</p>
                <div *ngFor="let rev of reviews">
                  <h5>{{rev.reviewHeader}}
                    <ngb-rating [(rate)]="rev.rating" [max]="5" [readonly]="true">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                  </h5>
                  <h6>{{rev.reviewDescription}}</h6>
                  <hr/>
                </div>
                <p><b>Write Your Review</b></p>
                <form action="#">
                  <span style="margin-left: 0%;">
                    <input type="text" placeholder="Review Header" name="header" [(ngModel)]="reviewHeader"/>
                  </span>
                  <textarea name="content" placeholder="Write More on the Product" [(ngModel)]="reviewContetnt"></textarea>
                  <b>Rating: </b>
                  <ngb-rating [(rate)]="selectedRate" [max]="5" >
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2" [class.good]="index > 2">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                  <button type="button" class="btn btn-default pull-right" (click)="submitReview()">
                    Submit
                  </button>
                </form>
              </div>
            </div>

          </div>
        </div>

        <!--recommended_items-->
        <!--
        <div class="recommended_items">
          <h2 class="title text-center">recommended items</h2>
          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
             <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
              </a>
              <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
              </a>
          </div>
        </div>--><!--/recommended_items-->

      </div>
    </div>
  </div>
</section>
