btn{
  cursor: pointer;
}

.imagestyle{
  max-width: 300px;
  max-height: 300px;
}

.bannerstyle{
  width: inherit;
}

.prodwrapper{
  border: 1px solid antiquewhite !important;
}

.vc {
  background: yellow;
  color: #fff;
  width: 58px;
  text-align: center;
  position: absolute;
}
.vc:after {
  width: 0;
  height: 0;
  border: 12.5px solid transparent;
  position: absolute;
  content: "";
  right: -23px;
  top: 0px;
}
.vc:before {
    width: 0;
    height: 0;
    border: 13px solid transparent;
    position: absolute;
    content: "";
    right: -23px;
    top: -1px;
}
