<div style="position: relative;">
<section id="cart_items">
  <div class="container">
    <div *ngIf="cartPage" class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div>
      <button style="float: right; color: #b73a3a;" mat-button (click)="clearCart()">
        <mat-icon>clear_all</mat-icon>
        Clear Cart
      </button>
    </div>
    <div class="table-responsive cart_info">
      <ngx-loading [show]="loading"></ngx-loading>
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <!-- <td class="image">Item</td> -->
            <td class="description">Item</td>
            <td class="price">MRP</td>
            <td class="price">Our Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td *ngIf="cartPage"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <!-- <td class="cart_product">
              <a href=""><img src="images/cart/one.png" alt=""></a>
            </td> -->
            <td class="cart_description">
              <h4><a href="">{{item.product.productName}}</a></h4>
              <p>Web ID: {{item.product.productCode}}</p>
            </td>
            <td class="cart_price">
              <p>{{item.product.cost}}</p>
            </td>
            <td class="cart_total">
              <p class="cart_total_price" style="font-size: 20px;">{{item.product.sellingCost}}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button" *ngIf="!isMobileView()">
                <a *ngIf="cartPage" class="cart_quantity_down" (click)="decrementItem(item)"> - </a>
                <input disabled class="cart_quantity_input" type="text" name="quantity" [(ngModel)]="item.quantity" autocomplete="off" size="2">
                <a *ngIf="cartPage" class="cart_quantity_up" (click)="incrementItem(item)"> + </a>
              </div>
              <!-- mobile view -->
              <div class="cart_quantity_button_mobile" *ngIf="isMobileView()">
                <a *ngIf="cartPage" class="cart_quantity_down" (click)="decrementItem(item)"> - </a>
                <input disabled class="cart_quantity_input_mobile" type="text" name="quantity" [(ngModel)]="item.quantity" autocomplete="off" size="2">
                <a *ngIf="cartPage" class="cart_quantity_up" (click)="incrementItem(item)"> + </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">₹ {{calculateTotal(item)}}</p>
            </td>
            <td class="cart_total" *ngIf="cartPage">
              <a class="cart_quantity_delete" style="cursor: pointer;" (click)="removeFromCart(item.product)"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section> <!--/#cart_items-->
<section *ngIf="cartPage" id="do_action">
  <div class="container">
    <div class="row">
      <ngx-loading [show]="couponLoading"></ngx-loading>
      <div class="col-sm-12 total_area">
        <div>
          <ul>
            <li>Cart Sub Total <span><strong>₹ {{cartSubtotal()}}</strong></span></li>
          </ul>
          <a class="btn btn-default update" style="float: right;" (click)="offerPage()"> Proceed </a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
