.filterbar{
  margin-bottom: -1.5rem;
  margin-top: -1rem;
}

.table th, .table td {
  border-top: 0px !important;
}

.mat-paginator-container{
  justify-content: end;
  margin-right: -12rem;
}
.mat-paginator-outer-container{
  margin-left: -13rem !important;
}

.sortOption{
  cursor: pointer;
}

.expandicon{
  color: #ff5722;
  cursor: pointer;
  transition: transform .2s;
}

.expandicon:hover  {
  transform: scale(1.5);
}

.expandexclamicon{
  color: crimson;
  cursor: help;
  transition: transform .2s;
}

.expandexclamicon:hover  {
  transform: scale(1.5);
}

.titleText{
  color: #099caa;
}

.outofstock{
  background: #ffebce;
}

