<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <ngx-loading [show]="filterloading"></ngx-loading>
        <!-- <div class="card-header">
          <i class="fa fa-filter"></i>Filters
        </div> -->
        <div class="card-body">
          <table class="table table-responsive-sm filterbar">
            <tr>
              <td>
                <input type="text"
                      class="form-control"  placeholder="Product Name/Code"
                      id="pname" name="pname"
                      [formControl]="myControl"
                      [matAutocomplete]="auto"
                      (keyup)="getProducts($event)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                  <mat-option *ngFor="let option of filteredOptions | async" >
                    {{option.productName}}
                  </mat-option>
                </mat-autocomplete>
              </td>
              <td>
                <form [formGroup]="myForm" *ngIf="!searchByProduts">
                  <ng-multiselect-dropdown
                      name="category"
                      [placeholder]="'Select Category'"
                      [data]="categories"
                      formControlName="category"
                      [disabled]="disabled"
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="onDeSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
                  </ng-multiselect-dropdown>
                </form>
              </td>
              <td>
                <div class="btn-group" dropdown style="width: 100%;">
                  <button dropdownToggle type="button" class="btn btn-ghost-primary dropdown-toggle">
                    Sort by <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="sortBy('cost', 'asc')">MRP : Low to High</a></li>
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="sortBy('cost', 'desc')">MRP : High to Low</a></li>
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="sortBy('offer', 'asc')">Offer : Low to High</a></li>
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="sortBy('offer', 'desc')">Offer : High to Low</a></li>
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="sortBy('lastmodified', 'desc')">Last modified Date (desc)</a></li>
                    <li role="menuitem"><a class="dropdown-item sortOption" (click)="clearSort()">Clear Sort</a></li>
                    <!-- <li class="divider dropdown-divider"></li> -->
                  </ul>
                </div>
              </td>
              <td>
                <mat-checkbox [(ngModel)]="loadActiveItemsOnly" (change)="loadActiveItems()">
                  Show Active Products
                </mat-checkbox>
              </td>
              <td>
                <i class="fa fa-filter" (click)="moreFilters = !moreFilters" style="cursor: pointer;"> More Filters</i>
              </td>
            </tr>
            <tr *ngIf="moreFilters">
              <td>
                <mat-checkbox [(ngModel)]="outOfStock" (change)="loadOutOfStockItems()">
                  Show Out Of Stock Products
                </mat-checkbox>
              </td>
              <td>

              </td>
              <td>
                <mat-paginator style="margin-block-start: -0.5rem; margin-left: -13rem !important;" [length]="totalRecords"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="action($event)">
                </mat-paginator>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
</div>
<alert class="p-4 text-center"></alert>
<div class="row">
  <div class="col-md-3 col-sm-4" *ngFor="let prod of products">
    <div class="card" [ngClass]="{'outofstock': !(prod.quantityInStock > 0)}">
      <ngx-loading [show]="loading"></ngx-loading>
      <div class="card-body" >
        <i class="expandicon float-right fa fa-expand" (click)="editProduct(prod.productId)" ></i>
        <div class="text-muted small text-uppercase font-weight-bold">MRP - {{prod.cost}}<small> ₹ </small> | Discount - {{prod.offer}}%
        </div>
        <div class="h2 py-3">{{prod.productName}}</div>
        <div class="h3">{{prod.productCode}}</div>
        <div class="chart-wrapper mx-auto">
          <p>{{prod.brandName}}</p>
        </div>
        <div class="float-left">
          <i *ngIf="!(prod.quantityInStock > 0)" class="expandexclamicon fa fa-exclamation-circle" matTooltip="OUT OF STOCK"></i>
        </div>
        <div class="float-right">
          <mat-slide-toggle
            color="warn"
            [checked]="prod.active"
            (change)="toggleProductActive(prod)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

