<div class="plain-bg">
<div class="container" id="contact">
  <div class="row">
      <div class="col-12 text-md-right lead">
        <p style="visibility: hidden;">dummy data for featured proucts</p>
      </div>
  </div>
</div>

<section>
  <div class="container">
  <div class="row ">
      <div class="col">
          <h1>Contact Us</h1>
      </div>
  </div>
  <div class="row">
    <div id="col" style="width: -webkit-fill-available; border: 3px solid rgba(0, 0, 0, 0.125);">
      <iframe height=500px 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18519.734075093736!2d80.19434197250048!3d12.628675113305052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5254aa30074dc5%3A0x9d00999d9ca8933f!2sMahabalipuram%2C%20Tamil%20Nadu%20603104!5e0!3m2!1sen!2sin!4v1594535464500!5m2!1sen!2sin" 
      frameborder="0" style="border:0; width: -webkit-fill-available;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container">
  <div class="row ">
    <div id="col">
      <p>
        <button mat-button [disabled]="true" style="text-align: inherit; width: 350px;">
        <mat-icon class="with-icon">phone</mat-icon>
        <span class="icon-text"> +91 1234567890</span><br/>
        <mat-icon ></mat-icon><span class="icon-text"> +91 1234567890</span>
        </button>
      </p>
    </div>
    <div id="col">
      <p>
        <button mat-button [disabled]="true" style="text-align: inherit; width: 350px;">
        <mat-icon class="with-icon">email</mat-icon>
        <span class="icon-text"> testemail@email.com</span><br/>
        </button>
      </p>
    </div>
    <div id="col">
      <p>
        <button mat-button [disabled]="true" style="text-align: inherit;">
        <mat-icon class="with-icon">location_on</mat-icon>
        <span class="icon-text"> #13, B block, Terror house street</span><br/>
        <mat-icon ></mat-icon><span class="icon-text"> Mamallapuram-603 104</span><br/>
        <mat-icon ></mat-icon><span class="icon-text"> Tamil Nadu.</span>
        </button>
      </p>
    </div>
  </div>
  </div>
</section>

<section>
  <!-- impement user query/feedback collect name,email and message -->
</section>
</div>
