<!--  right-panel-active -->
<section class="pt-100" id="login">
  <div class="container" id="container">
    <div>
      <form action="#">
        <h1  class="pt-10">Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fa fa-google-plus" style="color: red;"></i></a>
          <a href="#" class="social" disabled><i class="fa fa-facebook" style="color: blue;"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
  </div>
  </section>
