.matitem{
  width: 100%;
}

.profileImg{
  height: 100px;
  width: inherit;
}


.toggleIcon{
  color: cadetblue;
  cursor: pointer;
}

.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb
{
  background-color: aquamarine !important;
}
