<div class="plain-bg">
<div class="container" id="featured">
  <div class="row">
      <div class="col-12 text-md-right lead">
        <p style="visibility: hidden;">dummy data for featured proucts</p>
      </div>
  </div>
</div>
<section class="container py-3" >
  <div class="row">
      <div class="col-lg-12">
          <h1>Featured Products</h1>
      </div>
  </div>
  <div class="carousel slide" data-ride="carousel" id="postsCarousel">
  <div class="container pt-0 mt-2">
      <div class="row mt-0">
          <div class="col-md-12">
              <div class="carousel-inner">
                  <div class="card-deck flex-column flex-sm-row" [ngClass]="getCarouselClass1()">
                      <div class="card">
                          <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="../../../assets/img/home/Featured-BG.jpg" alt="Carousel 1">
                          </div>
                          <div class="card-block pt-2">
                              <h6 class="small text-wide p-b-2">Insight</h6>
                              <h2>
                          <a href="">{{itemsToDisplay[0]}}</a>
                          <p>price</p>
                          <p>rating</p>
                      </h2>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <img class="img-fluid" src="../../../assets/img/home/Featured-BG.jpg" alt="Carousel 1">
                        </div>
                        <div class="card-block pt-2">
                            <h6 class="small text-wide p-b-2">Insight</h6>
                            <h2>
                        <a href="">{{itemsToDisplay[1]}}</a>
                        <p>price</p>
                        <p>rating</p>
                    </h2>
                        </div>
                    </div>

                      <div class="card">
                          <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="../../../assets/img/home/Featured-BG.jpg" alt="Carousel 2">
                          </div>
                          <div class="card-block pt-2">
                              <h6 class="small text-wide pb-2">Development</h6>
                              <h2>
                          <a href="">{{itemsToDisplay[2]}}</a>
                          <p>price</p>
                          <p>rating</p>
                      </h2>
                          </div>
                      </div>

                      <div class="card">
                          <div class="card-img-top card-img-top-250">
                              <img class="img-fluid" src="../../../assets/img/home/Featured-BG.jpg" alt="Carousel 3">
                          </div>
                          <div class="card-block pt-2">
                              <h6 class="small text-wide pb-2">Design</h6>
                              <h2>
                          <a href="">{{itemsToDisplay[3]}}</a>
                          <p>price</p>
                          <p>rating</p>
                      </h2>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="leftbox">
        <button mat-button class="prev" (click) = "prev()" title="prev"><i class="fa fa-lg fa-chevron-left"></i></button>
      </div>
      <div id="middlebox">
      </div>
      <div id="rightbox">
        <button mat-button class="next" (click) = "next()" title="next"><i class="fa fa-lg fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  </div>
</section>

<div class="container">
  <div class="row">
      <div class="col-12 text-md-right lead">
        <p style="visibility: hidden;">dummy data for featured proucts</p>
      </div>
  </div>
</div>

</div>
