<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
      <div class="navbar-translate">
        <img src="../../../../assets/img/logo/Brand-Icon.png" alt="Logo Image" class="img-circle img-no-padding img-responsive logo-size">
          <a class="navbar-brand brand-color" href="">{{orgName}}</a>
          <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a href="#featured" class="nav-link" routerLinkActive="active">Featured</a>
          </li>

          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>

          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>

          <li class="nav-item">
              <button class="nav-link" mat-button matBadge="" matBadgePosition="after">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <p class="d-lg-none">Cart</p>

          </li>

          <li class="nav-item">
            <button class="nav-link" mat-button>
              <mat-icon matTooltip="login">person</mat-icon>
            </button>
                <p class="d-lg-none">Login</p>

          </li>
        </ul>

      </div>
  </div>
</nav>



<!-- <button *ngIf="isLoggedIn()" style="background-color: green;" mat-mini-fab [matMenuTriggerFor]="userActions">
  <mat-icon matTooltip="login">person</mat-icon>
</button>
<mat-menu #userActions="matMenu">
  <button mat-menu-item>Profile</button>
  <button mat-menu-item>Ordered Items</button>
  <button mat-menu-item (click)="logout()">Sign Out</button>
</mat-menu>
{{this.user.firstName | allCaps}} -->
