<alert class="p-4 text-center"></alert>
<ngx-loading [show]="loading"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-ticket"></i>Manage Coupons
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngIf="!showTable()"> No Coupons to Display</div>
            <table *ngIf="showTable()" class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th>Title</th>
                  <th>Code</th>
                  <th>Discount</th>
                  <th>Validity</th>
                  <th>FreeShipping</th>
                  <th>Per User Usage</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coupon of allCoupons">
                  <td>
                    <div>{{coupon.title}}</div>
                  </td>
                  <td>
                    <div>{{coupon.code}}</div>
                  </td>
                  <td>
                    <div>{{coupon.discount}}</div>
                  </td>
                  <td>
                    <div>
                      {{coupon.startDate | date: 'dd-MM-yyy' }} --- {{coupon.endDate | date: 'dd-MM-yyy'}}
                    </div>
                  </td>
                  <td>
                    <div>
                      {{coupon.freeShipping}}
                    </div>
                  </td>
                  <td>
                    <div>
                      {{coupon.perUserUsage}}
                    </div>
                  </td>
                  <td>
                    <mat-slide-toggle color="accent" [checked]="coupon.active" (change)="toggleCouponStatus(coupon)"></mat-slide-toggle>
                    <label>|</label>
                    <i class="fa fa-trash trashicon" style="color: red; cursor: pointer;" (click)="deleteCoupon(coupon)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
