<section id="footer" class="footer-area">
  <div class="container">
      <div class="footer-widget pt-75 pb-120">
          <div class="row">
              <div class="col-lg-3 col-md-5 col-sm-7">
                  <div class="footer-logo mt-40">
                      <a href="#">
                          <img src="assets/images/logo/Brand-Icon.png" alt="Logo" style="height: 100px;">
                      </a>
                      <p class="mt-10">{{tagLine}}</p>
                      <ul class="footer-social mt-25">
                          <li><a href={{tenantStore.tenantFacebook}}><i class="lni-facebook-filled"></i></a></li>
                          <li><a href={{tenantStore.tenantTwitter}}><i class="lni-twitter-original"></i></a></li>
                          <li><a href={{tenantStore.tenantInsta}}><i class="lni-instagram"></i></a></li>
                      </ul>
                  </div> <!-- footer logo -->
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5">
                  <!-- <div class="footer-link mt-50">
                      <h5 class="f-title">Services</h5>
                      <ul>
                          <li><a href="#">Architechture Design</a></li>
                          <li><a href="#">Interior Design</a></li>
                          <li><a href="#">Autocad Services</a></li>
                          <li><a href="#">Lighting Design</a></li>
                          <li><a href="#">Poster Design</a></li>
                      </ul>
                  </div> -->
              </div>
              <div class="col-lg-2 col-md-3 col-sm-5">
                <!-- changes can be done like above list -->
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                  <div class="footer-info mt-50">
                      <h5 class="f-title">Contact Info</h5>
                      <ul>
                          <li>
                              <div class="single-footer-info mt-20">
                                  <span>Phone :</span>
                                  <div class="footer-info-content">
                                      <p>+91 {{tenantStore.tenantContact}}</p>
                                      <p>hard coded contact(if required)</p>
                                  </div>
                              </div> <!-- single footer info -->
                          </li>
                          <li>
                              <div class="single-footer-info mt-20">
                                  <span>Email :</span>
                                  <div class="footer-info-content">
                                      <p>{{tenantStore.tenantEmail}}</p>
                                      <p>hard coded email(if required)</p>
                                  </div>
                              </div> <!-- single footer info -->
                          </li>
                          <li>
                              <div class="single-footer-info mt-20">
                                  <span>Address :</span>
                                  <div class="footer-info-content">
                                      <p>{{tenantStore.tenantStreet}}, {{tenantStore.tenantCity}} - {{tenantStore.tenantPin}}</p>
                                  </div>
                              </div> <!-- single footer info -->
                          </li>
                      </ul>
                  </div> <!-- footer link -->
              </div>
          </div> <!-- row -->
      </div> <!-- footer widget -->
      <div class="footer-copyright pt-15 pb-15">
          <div class="row">
              <div class="col-lg-12">
                  <div class="copyright text-center">
                      <p>Site Crafted by <a href="#" rel="nofollow">ourCompany</a></p>
                  </div> <!-- copyright -->
              </div>
          </div> <!-- row -->
      </div> <!--  footer copyright -->
  </div> <!-- container -->
</section>
