<section id="do_action">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="heading">
      <h3>What would you like to do next?</h3>
      <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.
        <span *ngIf="this.pincodeDetails !== undefined && this.pincodeDetails !== null">Free delivery on minimum <strong>₹ {{this.pincodeDetails.minimumamtforfreedelivery}}</strong>.</span></p>
    </div>
    <div class="row">
      <ngx-loading [show]="couponLoading"></ngx-loading>
      <div class="col-sm-6">
        <div class="chose_area">
          <ul class="user_option">
            <li>
              <div *ngIf="!isMobileView()">
                <mat-form-field>
                  <mat-label>Delivery Pincode</mat-label>
                  <input type="number" matInput placeholder="pincode" [(ngModel)]="pincode">
                </mat-form-field>
                <a style="cursor: pointer;" class="btn btn-default update" (click)="checkDeliveryCode()">Check Delivery Charge</a>
              </div>
              <div *ngIf="isMobileView()">
                <mat-form-field class="matitem pull-left" *ngIf="isMobileView()" style="width: 100%;">
                  <input type="text"
                        placeholder="Pincode"
                        matInput
                        [(ngModel)]="pincode">
                <button matSuffix type="button" class="btn btn-primary" (click)="checkDeliveryCode()"> Check Delivery Charge </button>
                </mat-form-field>
              </div>
            </li>
            <br/>
            <li>
              <div *ngIf="!isMobileView()">
                <mat-form-field>
                  <mat-label>Coupon Code</mat-label>
                  <input type="text" matInput placeholder="coupon code" [(ngModel)]="coupon">
                </mat-form-field>
                <a *ngIf="!isMobileView()" style="cursor: pointer;" class="btn btn-default update" (click)="applyCoupon()">Apply Coupon</a>
              </div>
              <div *ngIf="isMobileView()">
                <mat-form-field class="matitem pull-left" *ngIf="isMobileView()" style="width: 100%;">
                  <input type="text"
                        placeholder="coupon code"
                        matInput
                        [(ngModel)]="coupon">
                <button matSuffix type="button" class="btn btn-primary" (click)="applyCoupon()"> Apply Coupon</button>
                </mat-form-field>
              </div>
            </li>
            <li *ngIf="this.couponDetails !== undefined && this.couponDetails !== null">
              <p>Maximum Discount Amount = {{this.couponDetails.maxDiscountLimit}} ₹</p>
            <li>
            <li>
              <small>T&C applied</small>
            </li>
            <br/>
            <li>
              Earned Loyality Points - ₹ {{userStore.loyalityPoints}}
              <br/>
              <mat-hint *ngIf="(userStore.loyalityPoints < 100)">
                (1₹ for every 200₹ spent)
              </mat-hint>
            </li>
            <li>
              <span>
                <input type="checkbox" [disabled]="(userStore.loyalityPoints < 100)"
                       name="redeemLoyality" [(ngModel)]="redeemLoyality"/>
                Redeem Loyality Points
              </span>
              <mat-hint *ngIf="(userStore.loyalityPoints < 100)">
                (Loyality Points can be redeemed after 100₹ points)
              </mat-hint>
            </li>
          </ul>
          <!-- <a class="btn btn-default check_out" href="">Apply</a> -->
        </div>
      </div>
      <div class="col-sm-6 total_area">
        <div>
          <ul>
            <li>Cart Sub Total <span><strong>₹ {{cartTotal}}</strong></span></li>
            <li *ngIf="this.couponDetails !== undefined && this.couponDetails !== null">
              Coupon Applied - <strong>({{this.couponDetails.discount}}% Off)</strong> <span>₹ {{calculateCouponApplied()}}</span>
            </li>
            <li *ngIf="redeemLoyality">
              Loyality Points Applied
              <span *ngIf="cartTotal >= userStore.loyalityPoints"><strong>₹ {{userStore.loyalityPoints}}</strong></span>
              <span *ngIf="cartTotal < userStore.loyalityPoints"><strong>₹ {{cartTotal}}</strong></span>
            </li>
            <li>Delivery Charge <span>{{getDeliveryCharge()}}</span></li>
            <li>Total <span><strong>₹ {{calculateTotalWithDeliveryCharge()}}</strong></span></li>
          </ul>
            <a *ngIf="canProceed" class="btn btn-default update" style="float: right;" (click)="gotoCheckout()"> Proceed </a>
            <!-- <a class="btn btn-default check_out" href="">Check Out</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
