#leftbox {
  float:left;
  width:25%;
  height:280px;
}
#middlebox{
  float:left;
  width:50%;
  height:280px;
}
#rightbox{
  float:right;
  width:25%;
  height:280px;
  text-align: end;
}

.with-icon {
  color: brown;
}

.icon-text{
  color: black;
}
