<!-- [navbarBrandMinimized]="{src: 'assets/img/brand/Brand-Name.png', width: 30, height: 30, alt: 'CoreUI Logo'}" -->
<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Brand-Icon.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <i class="flag-icon flag-icon-in"></i>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src={{checkImage(userStore.profilePic)}} class="img-avatar" alt="profile picture"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info"></span></a>
        <a class="dropdown-item" (click)="tasks()" style="cursor: pointer;"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" (click)="profile()" style="cursor: pointer;"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item"(click)="lockProfile()" style="cursor: pointer;"><i class="fa fa-lock"></i> Lock account</a>
        <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="app-body">
  <!-- Left Side Bar -->
  <app-sidebar #appSidebar [fixed]="false" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="finalNavItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb to be implemented later -->
    <cui-breadcrumb>
      <!-- <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->
    </cui-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Right side nav(need to implement messaging service later here) -->
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
        <div class="p-3">
          <h6>User Information</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Welcome {{userStore.firstName}} !</b></small>
            </div>
            <div>
              <small class="text-muted">ID : <b>{{userStore.userId}}</b></small>
            </div>
            <div>
              <small class="text-muted">{{userStore.designation}}</small>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <app-push-notification></app-push-notification>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span> &copy; 2020 Nutty Shop</span>
  <span class="ml-auto">Raise a <a href="#">BUG</a></span>
</app-footer>

