.leftVerticalBarShow{
  margin-right: 0px;
}

.leftVerticalBarAdjust{
  margin-right: 250px;
}

.notification {
  background-color: transparent;
  // color: cornflowerblue;
  text-decoration: none;
  // padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 5px;
  border-radius: 50%;
  background: #00737e;
  color: white;
}

.toolbaricon{
  color: green;
  cursor: pointer;
  transition: transform .2s;
}

.toolbaricon:hover  {
  transform: scale(1.5);
}

