<!-- [navbarBrandMinimized]="{src: 'assets/img/brand/Brand-Name.png', width: 30, height: 30, alt: 'CoreUI Logo'}" -->
<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Brand-Icon.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <i class="flag-icon flag-icon-in"></i>
    </li>
    <li class="nav-item px-3">
      <label>{{realmName}}</label>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li>
      {{ now | date:'dd/MM/yyyy(EE) h:mm:ss a'}}
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src={{checkImage(userStore.profilePic)}} class="img-avatar" alt="profile picture"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" (click)="tasks()" style="cursor: pointer;"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">{{taskCount}}</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" (click)="profile()" style="cursor: pointer;"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" (click)="primaryModal.show()" style="cursor: pointer;"><i class="fa fa-lock"></i> Lock account</a>
        <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lock Account</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your Account will be Locked permanently. Only Admin user can renew account access !</p>
        <p>Do you want to proceed ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <div>
          <button type="button" class="btn btn-danger" (click)="lockProfile()">
            <i class="fa fa-lock"></i> Lock Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>

<div class="app-body">
  <!-- Left Side Bar -->
  <app-sidebar #appSidebar [fixed]="false" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="finalNavItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb to be implemented later -->
    <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <mat-slide-toggle color="accent"
                  [checked]="userStore.pickUpOrders"
                  (change)="toggleOrderPickup()"
                  matTooltip="Accept Online Orders">
        </mat-slide-toggle>
        <label><strong> | </strong></label>
        <a class="notification" style="cursor: pointer;" (click)="navigateToOrders()">
          <i class="fa fa-shopping-basket" style="color: green;"></i>
          <span class="badge">{{newOrdersCount}}</span>
        </a>
        <label><strong> | </strong></label>
        <a class="notification" style="cursor: pointer;">
          <i class="fa fa-bell-o" style="color: green;"></i>
          <span class="badge">{{noticationCount}}</span>
        </a>
        <label><strong> | </strong></label>
        <label style="color: brown;"><strong>{{userStore.firstName}}</strong></label>
      </li>
    </cui-breadcrumb>

    <div class="container-fluid">
      <!-- <alert class="p-4 text-center"></alert> -->
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Right side nav(need to implement messaging service later here) -->
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <app-push-notification [notificationCount]="noticationCount" [taskCount]="taskCount"
        (updateNotification)="updateNotificationBadge($event)" (updatetaskCount)="updateTaskBadge($event)">
        </app-push-notification>
      </tab>
      <tab>
        <app-chat-messenger></app-chat-messenger>
      </tab>
      <tab>
        <app-scheduled-tasks></app-scheduled-tasks>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span> &copy; 2020 muhil kennedy</span>
  <span class="ml-auto">Raise a <a href="#">BUG</a></span>
</app-footer>

