<div class="animated fadeIn">
  <alert class="p-4 text-center"></alert>
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="card-header">
          <i class="fa fa-list-ul"></i>Add Product
          <div class="float-right">
            <button mat-button class="btn btn-ghost-primary" style="border: 1px solid;" (click)="createProduct()">
              <i class="fa fa-product-hunt"></i> Create Product
            </button>
          </div>
          <br/>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm">
            <tr>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <!-- <mat-label>Category ID</mat-label>
                  <input matInput placeholder="Category of the Product" [(ngModel)]="categoryId" required> -->
                  <mat-label>Category ID</mat-label>
                  <input type="text"
                             placeholder="Search Based Category Name"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto"
                             [ngModel]="searchCategory" required>
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                        <mat-option (onSelectionChange)="setCategory(option)" *ngFor="let option of filteredOptions | async" [value]="option.firstName+' '+option.lastName">
                          {{option.categoryName}} - {{option.categoryId}}
                        </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product Name</mat-label>
                  <input matInput placeholder="Product Name" [(ngModel)]="pName" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product Brand</mat-label>
                  <input matInput type="text" class="example-right-align" [(ngModel)]="brand" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product Cost</mat-label>
                  <input matInput type="number" class="example-right-align" [(ngModel)]="cost" required>
                  <mat-hint>Product MRP</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Selling Cost(inr)</mat-label>
                  <input matInput placeholder="Product Selling Cost" [(ngModel)]="sellingCost" required (keyup)="onSellingCostKeyUp($event)">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product Offer/Discount (%)</mat-label>
                  <input disabled matInput type="number" class="example-right-align" [(ngModel)]="offer" required>
                  <mat-hint>Offer applicable to this particular product <small *ngIf="showFinalCost()">(SELLING COST - <b>{{getDiscountedPrice() | number:'1.2-2'}} ₹</b>)</small></mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product CODE</mat-label>
                  <input matInput placeholder="Product BAR/QR CODE" [(ngModel)]="pCode" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Units In Stock</mat-label>
                  <input matInput type="number" class="example-right-align" [(ngModel)]="unitsInStock" required>
                  <mat-hint>Current Product Quantity In Stock</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="matitem">
                  <mat-label>Product Description</mat-label>
                  <textarea rows="3" matInput type="text" class="example-right-align" [(ngModel)]="pDescription" required></textarea>
                  <mat-hint>Max. 500 characters</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <button mat-button [disabled]="true" style="text-align: inherit;">
                  <i class="fa fa-eye"></i>
                  <span class="icon-text"> Activate product</span><br/>
                </button>
                <mat-slide-toggle
                  color="accent"
                  [checked]="productActive"
                  (change)="toggleProductActive()">
                </mat-slide-toggle>
              </td>
              <td>
                <img [src]='checkImage(productPic)' class="avatar profileImg" alt="avatar">
                <br/>
                <mat-hint>(Multiple Images can be uploaded as a ZIP file)</mat-hint>
                <br/>
                <input type="file" (change)="handleFileUpdate($event.target.files)">
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
