<section id="product" class="product-area pt-100 pb-130">
  <div class="container">
      <div class="row">
          <div class="col-lg-11 col-md-10">
              <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-furniture" role="tabpanel" aria-labelledby="v-pills-furniture-tab">
                      <div class="product-items mt-30">
                          <div class="row product-items-active">

                            <div class="col-md-4" *ngFor="let product of featuredProducts">
                              <div class="single-product-items" style="border: 1px solid #e77c3e; padding-bottom: 50px;">
                                  <div class="product-item-image">
                                      <a href="#"><img src={{product.productImage.image}} alt="Product"></a>
                                      <div class="product-discount-tag">
                                          <p>-{{product.productContent.offer}}%</p>
                                      </div>
                                  </div>
                                  <div class="product-item-content text-center mt-30">
                                      <h5 class="product-title"><a href="#">{{product.productContent.productName}}</a></h5>
                                      <h6 class="product-area">{{product.productContent.brandName}}</h6>
                                      <!-- <ul class="rating">
                                          <li><i class="lni-star-filled"></i></li>
                                          <li><i class="lni-star-filled"></i></li>
                                          <li><i class="lni-star-filled"></i></li>
                                          <li><i class="lni-star-filled"></i></li>
                                      </ul> -->
                                      <span class="regular-price">₹{{calculateDiscountedPrice(product.productContent)}}</span>
                                      <span class="discount-price">₹{{product.productContent.cost}}</span>
                                  </div>
                              </div>
                          </div>

                        </div>
                      </div>
                  </div> <!-- tab pane -->


              </div> <!-- tab content -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->

</section>
