<section id="product" class="product-area pt-100 pb-130">
  <div class="container">
      <div class="row">
          <!-- <div class="col-lg-3 col-md-4">
              <div class="collection-menu text-center mt-30">
                  <h4 class="collection-tilte">OUR COLLECTION</h4>
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="active" id="v-pills-furniture-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-furniture" aria-selected="true">Category 1</a>

                      <a id="v-pills-decorative-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-decorative" aria-selected="false">Category 2</a>

                      <a id="v-pills-lighting-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-lighting" aria-selected="false">Category 3</a>
                  </div>
              </div>
          </div> -->
          <div class="col-lg-11 col-md-10">
              <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-furniture" role="tabpanel" aria-labelledby="v-pills-furniture-tab">
                      <div class="product-items mt-30">
                          <div class="row product-items-active">
                              <div class="col-md-6">
                                  <div class="single-product-items">
                                      <div class="product-item-image">
                                          <a href="#"><img src="assets/images/product/p-1.jpg" alt="Product"></a>
                                          <div class="product-discount-tag">
                                              <p>-60%</p>
                                          </div>
                                      </div>
                                      <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a href="#">Fibre Chair</a></h5>
                                          <ul class="rating">
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                          </ul>
                                          <span class="regular-price">$49.00</span>
                                          <span class="discount-price">$69.00</span>
                                      </div>
                                  </div> <!-- single product items -->
                              </div>
                              <div class="col-md-4">
                                  <div class="single-product-items">
                                      <div class="product-item-image">
                                          <a href="#"><img src="assets/images/product/p-2.jpg" alt="Product"></a>
                                          <div class="product-discount-tag">
                                              <p>-20%</p>
                                          </div>
                                      </div>
                                      <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a href="#">Touchwood Chair</a></h5>
                                          <ul class="rating">
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                          </ul>
                                          <span class="regular-price">$129.00</span>
                                          <span class="discount-price">$159.00</span>
                                      </div>
                                  </div> <!-- single product items -->
                              </div>
                              <div class="col-md-4">
                                  <div class="single-product-items">
                                      <div class="product-item-image">
                                          <a href="#"><img src="assets/images/product/p-3.jpg" alt="Product"></a>
                                          <div class="product-discount-tag">
                                              <p>-10%</p>
                                          </div>
                                      </div>
                                      <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a href="#">Classic Wardrobe</a></h5>
                                          <ul class="rating">
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star"></i></li>
                                          </ul>
                                          <span class="regular-price">$89.00</span>
                                          <span class="discount-price">$129.00</span>
                                      </div>
                                  </div> <!-- single product items -->
                              </div>
                              <div class="col-md-4">
                                  <div class="single-product-items">
                                      <div class="product-item-image">
                                          <a href="#"><img src="assets/images/product/p-1.jpg" alt="Product"></a>
                                          <div class="product-discount-tag">
                                              <p>-60%</p>
                                          </div>
                                      </div>
                                      <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a href="#">Touchwood Chair</a></h5>
                                          <ul class="rating">
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                          </ul>
                                          <span class="regular-price">$59.00</span>
                                          <span class="discount-price">$69.00</span>
                                      </div>
                                  </div> <!-- single product items -->
                              </div>
                              <div class="col-md-4">
                                  <div class="single-product-items">
                                      <div class="product-item-image">
                                          <a href="#"><img src="assets/images/product/p-2.jpg" alt="Product"></a>
                                          <div class="product-discount-tag">
                                              <p>-60%</p>
                                          </div>
                                      </div>
                                      <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a href="#">Touchwood Chair</a></h5>
                                          <ul class="rating">
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                              <li><i class="lni-star-filled"></i></li>
                                          </ul>
                                          <span class="regular-price">$59.00</span>
                                          <span class="discount-price">$69.00</span>
                                      </div>
                                  </div> <!-- single product items -->
                              </div>
                          </div> <!-- row -->
                      </div> <!-- product items -->
                  </div> <!-- tab pane -->


              </div> <!-- tab content -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>
