<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-6">
      <app-todo></app-todo>
    </div>
    <div class="col-md-6">
      <app-task></app-task>
    </div>
  </div>

  <div class="row" *ngIf="showAdminCard">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-institution"></i>TENANT INFORMATION
        </div>
        <div class="card-body">
          <app-tenant-details></app-tenant-details>
          <app-employee></app-employee>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
