<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-6">
      <app-todo></app-todo>
    </div>
    <div class="col-md-6">
      <app-task></app-task>
    </div>
  </div>

  <div class="row" *ngIf="showAdminCard">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-institution"></i>TENANT INFORMATION
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-lg">
              <div class="row">

              </div><!--/.row-->
              <hr class="mt-0">
            </div><!--/.col-->
          </div><!--/.row-->

            <app-employee></app-employee>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
