<!-- <div class="plain-bg"> -->
<ngx-loading [show]="loading"></ngx-loading>
<section id="home" class="slider-area pt-100">
  <div class="container-fluid position-relative">

    <div class="slider-active">
      <div *ngFor="let item of images; let i = index">
      <div class="single-slider" *ngIf="shouldShow">
        <div class="slider-bg">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="slider-product-image d-none d-md-block">
                        <img src={{homeMedia[i].image}} alt="Slider">
                        <div class="slider-discount-tag">
                            <p>{{homeMedia[i].message}}</p>
                        </div>
                    </div> <!-- slider product image -->
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="slider-product-content">
                        <h1 class="mb-10" data-animation="fadeInUp" data-delay="0.3s">{{homeMedia[i].title}}</h1>
                        <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s">{{homeMedia[i].description}}</p>
                        <a *ngIf="homeMedia[i].shopNow" class="btn draw-border" href="#" data-animation="fadeInUp" data-delay="1.5s">Shop Now <i class="lni-chevron-right"></i></a>
                        <a *ngIf="homeMedia[i].contact" class="main-btn" href="#" data-animation="fadeInUp" data-delay="1.5s">Contact Us<i class="lni-chevron-right"></i></a>
                    </div> <!-- slider product content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
      </div>
      </div>
    </div>

      <div class="slider-social">
          <div class="row justify-content-end">
              <div class="col-lg-7 col-md-6">
                  <ul class="social text-right">
                      <li><a href={{tenantStore.tenantFacebook}}><i class="lni-facebook-filled"></i></a></li>
                      <li><a href={{tenantStore.tenantTwitter}}><i class="lni-twitter-original"></i></a></li>
                      <li><a href={{tenantStore.tenantInsta}}><i class="lni-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div> <!-- container fluid -->
</section>

<section id="discount-product" class="pt-50">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let slide of homeSlider">
          <img src={{slide.image}} alt="Random first slide">
          <div class="carousel-caption">
              <p>{{slide.title}}</p>
          </div>
      </ng-template>
    </ngb-carousel>
</div>
</section>

<!-- </div> -->
