.draw-border {
  box-shadow: inset 0 0 0 4px coral;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border-radius: 12px;
}
.draw-border::before, .draw-border::after {
  border-radius: 12px;
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-radius: 12px;
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-radius: 12px;
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: brown;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-radius: 12px;
  border-color: brown;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  border-radius: 12px;
  color: coral;
  font-family: "Allerta Stencil", Sans-serif;
}



.plain-bg{
  background-image: url("../../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}



body {
  padding: 40px;
}

/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
