<section id="cart_items">
  <div class="container">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a (click)="openCart()">Cart</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->

    <div class="register-req">
      <p>Please add address to profile for easy access!</p>
    </div>

    <div class="shopper-informations">
      <div class="row">
        <div class="col-sm-6">
          <div class="shopper-info">
            <p>Delivery Address</p>
            <form>
              <input type="number" placeholder="Mobile Contact" [(ngModel)]="mobile" id="mobile" name="mobile"/>
              <input type="text" placeholder="Dooor Number" [(ngModel)]="door" id="door" name="door">
              <input type="text" placeholder="Street Name" [(ngModel)]="street" id="street" name="street">
              <input type="text" placeholder="City" [(ngModel)]="city" id="city" name="city">
              <input type="text" placeholder="State" [(ngModel)]="state" id="state" name="state">
              <input disabled type="number" placeholder="Pincode" [(ngModel)]="this.pincodeDetails.pincode" id="pincode" name="pincode">
            </form>
            <a class="btn btn-primary" (click)="addAddress()">Add Address to Profile</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="shopper-info">
            <p><label style="color: white;">-----</label>Cart Summary</p>
            <div class="total_area">
              <ul>
                <li>Cart Sub Total <span><strong>₹ {{cartSubtotal()}}</strong></span></li>
                <li *ngIf="this.couponDetails !== undefined && this.couponDetails !== null">
                  Coupon Applied - <strong>({{this.couponDetails.discount}}% Off)</strong> <span>₹ {{calculateCouponApplied()}}</span>
                </li>
                <li>Delivery Charge <span>{{getDeliveryCharge()}}</span></li>
                <li>Total <span><strong>₹ {{calculateTotalWithDeliveryCharge()}}</strong></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <div class="step-one">
      <h2 class="heading">Select Address For Delivery</h2>
    </div>
    <div class="checkout-options">
      <ul class="nav">
        <li *ngFor="let add of customerAddress">
          <label for="address_{{add.addressId}}">
            <input id="address_{{add.addressId}}" [value]='add.addressId' type="radio" name="enums" [(ngModel)]="addressSelected">
            {{add.doorNumber}},{{add.street}},{{add.city}}
          </label>
        </li>
      </ul>
    </div>

    <div class="review-payment">
      <h2>Review & Payment</h2>
    </div>
    <div class="review-payment">
      <h6>Delivery Time For Selected Pincode : {{pincodeDetails.deliveryfromtime}} - {{pincodeDetails.deliverytilltime}}</h6>
      <span>
        <label><i class="fa fa-truck"></i><strong> . Guaranteed Delivery Within {{pincodeDetails.minimumdeliveryhours}} Hrs</strong></label>
      </span>
    </div>
    <app-cart [cartPage]=false></app-cart>

    <div class="payment-options" style="position: relative;">
        <span>
          <label><i class="fa fa-info"></i><strong> . Payment will be accepted on door step delivery</strong></label>
        </span>
        <div style="float: right;">
          <button mat-raised-button class="btn btn-default update" (click)="placeOrder()"
            [ngClass]="{'spinner' : buttonLoading}" [disabled]="buttonLoading">
            Confirm and Place Order
          </button>
        </div>
    </div>
  </div>
</section>
