@import '~@angular/material/theming';
@include mat-core();

$md-custom-toggle-colors: (
  50 : #e8f6e9,
  100 : #c5e9c8,
  200 : #9fdaa4,
  300 : #79cb7f,
  400 : #5cc063,
  500 : #3fb548,
  600 : #39ae41,
  700 : #31a538,
  800 : #299d30,
  900 : #1b8d21,
  A100 : #c6ffc9,
  A200 : #93ff98,
  A400 : #60ff67,
  A700 : #47ff4f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($md-custom-toggle-colors);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-light-blue, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.error-snackbar {
  background: orangered;
}

.success-snackbar {
  background: green;
}

.warn-snackbar {
  background: orange;
}

.toggleIcon{
  color: cadetblue;
  cursor: pointer;
}

.breadcrumb {
  height: 50px !important;
}


// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $ng-primary: mat-palette($mat-indigo);
// $ng-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $ng-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $ng-theme: mat-light-theme($ng-primary, $ng-accent, $ng-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($ng-theme);

// // If you want to override variables do it here
// @import "variables";

// // Import styles
// @import "~@coreui/coreui/scss/coreui";

// // If you want to add something do it here
// @import "custom";

// .error-snackbar {
//   background: orangered;
// }

// .success-snackbar {
//   background: green;
// }

// .warn-snackbar {
//   background: orange;
// }
